.profile {
  width: 100%;
  height: auto;
}
.banner-container {
  width: 100%;
  height: 30vh;
  margin-top: 2%;
}
.banner-img {
  width: 90%;
  object-fit: cover;
  height: 100%;
  margin-top: -4%;
  border-radius: 20px;
}
.profile-container {
  width: 90%;
  display: flex;
  height: 62px;
  flex-direction: row;
  display: flex;
}
.name {
  justify-content: flex-start;
  display: flex;
}
.user-image {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
  align-self: flex-start;
}
.inf {
  margin-left: 10%;
}
.subscribers {
  font-size: x-small;
  margin-top: 1%;
}
.user-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  margin-left: 7%;
}

.subscribe-field {
  background: #ff5454;
  box-shadow: 0px 4px 4px rgba(20, 20, 20, 0.25);
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 15px 0.5px #ff5454;
  border: none;
  width: 200px;
  height: 42px;
  font-size: larger;
}
.list-item {
  color: #dddddd;
  list-style-type: none;
  cursor: pointer;
  font-size: xx-large;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  text-decoration: underline transparent;
  transition: text-decoration 300ms ease;
}
.list-item:active {
  color: #ff5454;
}
.list-item:hover {
  text-decoration: underline;
}
ul {
  display: flex;
  width: 30%;
  overflow: hidden;
}
.naviagtion-container {
  width: 100%;
}
.active-list {
  color: #ff5454;
}
.title {
  color: aliceblue;
  justify-self: left;
}
.descript {
  color: rgb(188, 195, 201);
}
.details {
  color: rgb(163, 169, 169);
  margin-bottom: 2px;
  bottom: 0;
}
.pre-image-container {
  width: 35%;
  height: 30vh;
  margin-left: 5%;
  margin-top: 2%;
}
.best-video {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.preview-video {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
}
.text-cont {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 1%;
  margin-left: 2%;
  flex-wrap: wrap;
  width: 35%;
  height: 100%;
}
.logo {
  justify-content: flex-start;
}
@media screen and (max-width: 750px) {
  .list-item {
    font-size: medium;
  }
  .preview-video {
    flex-direction: row;
    width: 90%;
    height: 40%;
  }
  .text-cont {
    width: 90%;
  }
  .pre-image-container {
    width: 100%;
    height: 100%;
  }
  .profile-container {
    margin-top: -20%;
    position: relative;
    width: 95%;
  }
  .subscribe-field {
    margin-right: 5%;
    position: absolut;
  }
  .user-container {
    position: absolute;
    z-index: 1;
  }
  .background-mask {
    position: relative;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.786);
    margin-left: 5%;
    filter: blur(10px);
  }
}
