.search-input {
  width: 90%;
  height: 100%;
  justify-content: flex-start;
  float: left;
  border: none;
  background: none;
  color: aliceblue;
  margin-left: 2%;
}
.search {
  width: 60%;
  height: 40px;
  display: flexbox;
  background-size: cover;
  background-color: #14161a;
  align-items: center;
  border: 1px solid #ffffff;
  position: relative;
  border-radius: 17px;
  margin-top: 20px;
  margin-left: 15%;
}
.search-icon {
  color: aliceblue;
  height: 100%;
  cursor: pointer;
}
.search-input:focus {
  outline: none;
}
.form {
  width: 100%;
  height: 100%;
}
#output-search {
  margin-top: 2%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: auto;
}
.upload {
  top: -40px;
  position: relative;
  background: none;
  border: none;
  color: aliceblue;
}
.login-btn {
  top: -40px;
  position: relative;
  background: none;
  border: none;
  color: aliceblue;
}

.from-left {
  height: 42px;
  width: 42px;
  border-radius: 30px;
  transition: transform 1s, background 0.5s, box-shadow 1s;
  margin-left: 2%;
  margin-right: 2%;
}

.from-left:hover {
  transform: scale(1.15);
  background-color: aliceblue;
  color: #14161a;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 10px 3px #555555, 0 0 10px 2px #3f3f3f, 0 0 10px 2px #333333;
  transform: translateY(-3px);
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-right: 4%;
}
.inbox {
  width: 60%;
  height: 60%;
}
.from-left:focus {
  transform: scale(0.8);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.menu-toggle {
  display: none;
}
#propicpic {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.2),
    0 6px 20px 0 rgba(54, 54, 54, 0.19);
  cursor: pointer;
}
#mask {
  position: relative;
  width: 3rem;
  height: 3rem;
  z-index: -1;
  backdrop-filter: blur(30px);
  filter: blur(30px);
  -webkit-filter: blur(30px);
  border-radius: 30px;
}
