.search-input {
  width: 80%;
  height: 100%;
  justify-content: flex-start;
  float: left;
  background: none;
  border: none;
  color: aliceblue;
  margin-left: 2%;
}
.search {
  width: 98%;
  height: 40px;
  display: flexbox;
  background-size: cover;
  background-color: #14161a;
  align-items: center;
  position: relative;
  border-radius: 17px;
  margin-top: 10px;
  margin-left: 1%;
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.search-icon {
  margin-right: 1%;
  color: aliceblue;
  height: 22px;
  width: 22px;
  cursor: pointer;
}
.search-input {
  outline: none;
  justify-content: flex-start;
}
.form {
  width: 100%;
  height: 100%;
}
#output-search {
  margin-top: 2%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: auto;
}
.upload {
  position: relative;
  background: none;
  border: none;
  color: aliceblue;
}
.login-btn {
  position: relative;
  background: none;
  border: none;
  color: aliceblue;
}

.from-left {
  height: 42px;
  width: 42px;
  border-radius: 30px;
  transition: transform 1s, background 0.5s, box-shadow 1s;
  margin-left: 2%;
  margin-right: 2%;
}

.from-left:hover {
  transform: scale(1.15);
  background-color: aliceblue;
  color: #14161a;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 10px 3px #555555, 0 0 10px 2px #3f3f3f, 0 0 10px 2px #333333;
  transform: translateY(-3px);
}
.btn-container {
  justify-content: flex-end;
  display: flex;
  right: 0;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}
.inbox {
  width: 60%;
  height: 60%;
}
.from-left:focus {
  transform: scale(0.8);
}
.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 62px;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  justify-content: space-between;
}
.logo a {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
#propicpic {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.2),
    0 6px 20px 0 rgba(54, 54, 54, 0.19);
  cursor: pointer;
}
#mask {
  position: relative;
  width: 3rem;
  height: 3rem;
  z-index: -1;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  border-radius: 30px;
}
.menu-hamburger {
  color: #fff;
}
@media screen and (max-width: 750px) {
  .menu-hamburger {
    color: aliceblue;
    justify-content: flex-end;
    height: 42px;
    width: 42px;
  }
  .nav {
    justify-content: space-between;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .logo {
    justify-content: flex-start;
  }
  .search-mobile-input {
    width: 100%;
    margin: none;
    border: none;
    background-color: #14161a;
    height: 8vh;
    color: #fff;
  }
  .search-mobile-input:focus {
    border: none;
    border-bottom: 1px #fff;
  }
}
.btn-container {
  display: none;
}
.menu-hamburger {
  opacity: 1;
  color: aliceblue;
  justify-content: flex-end;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.button-container {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  justify-content: flex-start;
  margin-left: 1%;
}
#output-search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
}
