.preview {
  width: 200px;
  height: 150px;
  border-radius: 12px;
}
#output {
  margin-top: 2%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#pic {
  height: 200px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2),
    0 6px 20px 0 rgba(27, 27, 27, 0.19);
  object-fit: cover;
}
#link {
  margin-top: 1rem;
}
#component {
  margin-top: 1rem;
  object-fit: cover;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#bottom {
  margin: 2px;
  display: flex;
  flex-direction: row;
  width: 90%;
}
img {
  object-fit: cover;
}
h1 {
  margin: 2px;
}
#profile-pic {
  width: 3rem;
  height: 3rem;
  image-rendering: optimizeQuality;
  justify-content: flex-start;
}
#profielpic {
  align-items: flex-start;
  float: left;
  position: static;
}
#content {
  margin-top: -15px;
  float: left;
  margin-left: 1rem;
}
a {
  text-decoration: none;
  color: rgba(240, 248, 255, 0);
}
#profile-pic {
  border-radius: 8px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(59, 59, 59, 0.2),
    0 6px 20px 0 rgba(54, 54, 54, 0.19);
}
#mask {
  position: relative;
  width: 3rem;
  height: 3rem;
  z-index: -1;
  backdrop-filter: blur(30px);
  filter: blur(30px);
  -webkit-filter: blur(30px);
  border-radius: 30px;
}
@media screen and (max-width: 600px) {
}
