.subscribe-button {
  cursor: pointer;
  border: none;
  background: none;
  background-color: #0e0e0e;
  color: aliceblue;
  border-radius: 15px;
  width: 160px;
  height: 60px;
  font-size: large;
  font-weight: 300;
  border: 1px solid #ff5454;
}
.like-icon {
  color: #ff5454;
  margin-top: 50%;
}
.profile-pic {
  width: 100%;
  height: 100%;
}
.user-pic {
  width: 100px;
  height: 100px;
}
.like-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.comment-section {
  width: 80%;
  background-color: darkgrey;
  height: auto;
}
.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
  width: 70%;
}
.container {
  display: flex;
  justify-content: flex-end;
}
.title-container-container {
  justify-content: flex-start;
}
.body {
  width: 100%;
  height: auto;
}
.likes {
  display: flex;
  flex-direction: row-reverse;
}
.UserContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-top: 2%;
}
#profile-picture {
  height: 60px;
  width: 60px;
  border-radius: 12px;
}
.recomandation-section {
  margin-top: 1%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.video-element {
  display: flex;
  flex-direction: column;
}
.containerOfRecomandations {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-around;
  align-items: flex-endq;
}
.rest-container {
  width: 90%;
  justify-content: flex-end;
  flex-wrap: wrap;
}
img {
  object-fit: cover;
}
#player {
  width: 99%;
}
@media screen and (max-width: 1000px) {
  .recomandation-section {
    width: 100%;
    justify-content: center;
  }
  .containerOfRecomandations {
    flex-direction: column;
    align-items: center;
  }
  #player {
    width: 100%;
    margin-top: 1%;
  }
  #vid {
    margin: 0;
  }
}
@media screen and (max-width: 1800px) {
}
.recomandation-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
}
#vid {
  margin: 0;
}
